<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h2>Hello Wolrd!</h2>
    <ul></ul>
        <button onclick="hello()" id="hello">hello</button>
        <button onclick="study()" id="study">study</button>
        <button onclick="bye()" id="bye">bye</button>
    <script>
        const socket = io();
        const p =document.querySelector('#text-content');
        // const ul = document.querySelector('ul');
        // const hello = document.querySelector('#hello');
        // const study = document.querySelector('#study');
        // const bye= document.querySelector('#bye');
        
        function hello(){
            socket.emit('hello', {message: 'hello'});
        }
        socket.on('returnHello', (arg) =>{
            p.textContent = `hello : ${arg.message}`;
        })
        function study(){
            socket.emit('study', {message: '공부합시다!'})
        }
        socket.on('returnStudy', (arg) =>{
            p.textContent = `study : ${arg.message}`;
        })
        function bye(){
            socket.emit('bye', {message: '안녕히가세요'})
        }
        socket.on('returnBye', (arg) =>{
            p.textContent = `bye : ${arg.message}`;
        });
    </script>

</body>
</html>