<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h3>회원가입</h3>
    <form name="signup-form">
        <fieldset>
            <legend>회원가입 페이지</legend>
            <input type="text" id="id" placeholder="아이디"><br>
            <input type="password" id="pw" placeholder="비밀번호"><br>
            <button type="button" onclick="visitorFunc()">회원가입</button><br>
        </fieldset>
    </form>
    <br>
    
</body>
</html>